@import "tailwindcss/preflight";
@import "tailwindcss/utilities";




:root {
  --primary-blue: #0649E7;
  --dark-blue: #022183;
  --white: #FFFFFF;
  --light-blue: #EBF1FF;
  --black: #101010;
}


h1 {
  font-family: 'Sora', sans-serif;
  font-weight: 600; /* SemiBold */
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 20px;
}

h3 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600; /* SemiBold */
}

h4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600; /* SemiBold */
}

p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700; /* Regular */
  font-size: 30px;
}

.p2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 18px;
}

.header {
  background-image: url('../src/assets/Gradient.png');
  max-height: 100.5vh;
  height: auto;      /* grow naturally until the max is hit */
  overflow: auto; 
}

.about {
  background-image: url('../src/assets/Gradient2.png');
  max-height: 100.08vh; /* limit maximum height */
  height: auto;      /* grow naturally until the max is hit */
  overflow: auto;    
}

a{
  text-decoration: none;
}

@media (min-width: 1024px) {
  .bg-lg-transparent {
    background-color: transparent !important;
  }
}